body {
    font-family: "Montserrat";
}

#title {
    background-color: #f12443;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 7%;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

/* navbar  */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

/* Button */
.Download-buttons {
    margin: 5% 3% 5% 0;
}

/* Title image  */
.title-image {
    width: 23%;
    transform: rotate(25deg);
    z-index: 0;
    position: absolute;
    left: 55%;


}

/* Features */

#features {
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-paragraph {
    color: #8f8f8f;
}

.fa-solid {
    color: #ef8172;
    font-size: 3.5rem;
    padding-bottom: 5%;
}

.fa-solid:hover {
    color: #ff4c68;
}

.col-lg-4 {
    padding: 0 18px;
}

.feature-heading {
    font-size: 1.5rem;
    font-family: "Montserrat";
}

/* testimonials  */
#testimonials {
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}

#press {
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing {
    text-align: center;
    padding: 100px;
}

.card {
    padding: 3% 2%;
}

/* media-query */

@media (max-width: 990px) {

    #title {
        text-align: center;
    }

    .title-image {
        width: 55%;
        position: static;
        transform: rotate(0);
    }
}

/* Call to Action  */

#cta {
    padding: 5% 15% 3%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}
h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.0rem;
    line-height: 1.5;
}
.g-play{
    background-color: #fff;
    color: black;
}
.f-btn{
    font-weight: 100;
}

/* footer */

#footer{
    text-align: center;
    margin: 4% auto;
background-color: #fff;
}
p{
color: #8f8f8f;
padding-top: 20px;
font-family: 'Ubuntu', sans-serif;
}

.footer-logo{
    padding: 0 10px;
}
